<div class="figures">

  <div class="figures__item">
    <a href="#">
      <p class="figures__numbers">1689</p>
      <p class="figures__description">TILTS</p>
    </a>
  </div>
  <div class="figures__item">
    <a href="#">
      <p class="figures__numbers">355</p>
      <p class="figures__description">FOLLOWING</p>
    </a>
  </div>
  <div class="figures__item">
    <a href="#">
      <p class="figures__numbers">1337</p>
      <p class="figures__description">FOLLOWERS</p>
    </a>
  </div>

</div>
