<div class="profile-overview__about">
  <p class="profile-overview__description">
    <%= user.description %>
  </p>
  <!-- <p class="profile-overview__localisation">
    <%# embedded_svg('icons/pin.svg') %><span>Paris, France</span>
  </p> -->
</div>
