<% class_small = '' if local_assigns[:class_small].nil? %>
<% button_visible = '' if local_assigns[:button_visible].nil? %>

<div class="block profile-overview profile-overview--following <%= class_small + button_visible %>">
  <%= yield %>
</div>
