<div class="profile-overview block">

  <a href="#">
    <%= image_tag("default_avatar.png", class: "profile-overview__avatar") %>
    <p class="profile-overview__name text-center">Batoulele</p>
    <p class="profile-overview__handle text-center">~Batoulele_95</p>
  </a>

  <div class="figures">

    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">1689</p>
        <p class="figures__description">TILTS</p>
      </a>
    </div>
    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">355</p>
        <p class="figures__description">FOLLOWING</p>
      </a>
    </div>
    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">1337</p>
        <p class="figures__description">FOLLOWERS</p>
      </a>
    </div>

  </div>

</div>
