<section class="block main-block settings">

  <div class="main-block__title text-center">
    Account <span class="main-block__catchline">Change your basic settings and other stuff.</span>
  </div>

  <form action="#" class="form">

    <div class="form__row">
      <label for="username" class="form__label">Username</label>
      <input type="text" id="username" class="form__input" value="Kappa">
    </div>

    <div class="form__row">
      <label for="password" class="form__label">Password</label>
      <input type="password" id="password" class="form__input" value="randomstring">
    </div>

    <div class="form__row">
      <label for="localisation" class="form__label">Localisation</label>
      <input type="type" id="localisation" class="form__input" value="Paris (FR)">
    </div>

    <a href="#" class="form__delete">Deactivate my account</a>

    <input type="submit" value="Save preferences" class="cta cta--stroke">

  </form>

</section>
