<section class="sidebar sidebar--left">

  <!-- Render this on homepage + single tilt page (not sure about the method, I just used it because it's convenient) -->
  <% if current_page?('/') || current_page?('/tilt/:id') %>
    <%= render "components/profile-overview" %>
    <%= render "components/trends" %>
  <% end %>
  <!-- END -->

  <!-- Render this on profile page -->
  <% unless current_page?('/') || current_page?('/tilt/:id') %>
  <% end %>
  <!-- END -->



</section>
