<section class="sidebar sidebar--right">

  <%= render "components/suggestions" %>

  <!-- Render unless user is on homepage or single tilt page -->
  <% unless current_page?('/') || current_page?('/tilt/:id') %>
    <%= render "components/suggestions" %>
  <% end %>
  <!-- END -->

</section>
