<section class="sidebar sidebar--right">

  <!-- Render unless user is on homepage or single tilt page -->
  <% unless current_page?('/') || current_page?('/tilt/:id') || current_page?('/users/sign_in') %>
    <%= render "components/suggestions" %>
    <%= render "components/trends" %>
  <% end %>
  <!-- END -->

</section>
