<section class="block main-block signin">

  <div class="main-block__title text-center">
    Sign in <span class="main-block__catchline">Login to start the tilting</span>
  </div>

  <form action="#" class="form">

    <div class="form__row">
      <label for="username" class="form__label">Username</label>
      <input type="text" id="username" class="form__input">
    </div>

    <div class="form__row">
      <label for="password" class="form__label">Password</label>
      <input type="password" id="password" class="form__input">
    </div>

    <div class="form__row">
      <input type="checkbox" id="remember">
      <label for="remember" class="form__label form__label--grey">Remember ?</label>
    </div>

    <p class="form__error">Wrong username and/or password!</p>

    <input type="submit" value="Login" class="cta cta--fill cta--fixed">

  </form>

  <div class="main-block__disclaimer text-center">
    Don't have an account? <a href="#">Sign up</a>
  </div>

</section>
