<div class="profiles">
<% if @follow.length > 0 %>
    <% @follow.each do |follow| %>
      <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
        <div class="profile-overview--top">
          <%= render "components/profile-overview-general-follow", follow: follow%>
        </div>
        <%= render "components/profile-overview-about" %>
      <% end %>
    <% end %>
<% else %>
  <p>Nothing here!</p> 
<% end %>
</div>
