<div class="container layout">
  <%= render "components/sidebar-left" %>

  <%= render "components/main-container" do %>
    <%= render "components/signup" %>
  <% end %>

  <%= render "components/sidebar-right" %>
</div>
