html, body {
	background-color: #FBFBFB;
	font-family: $opensans-reg;
}
.container {
	width: 90%;
	max-width: 1024px;
	margin: auto;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}