// COLOR
$error-color: #FF5454;
$border-bottom-color: transparentize(#979797, 0.9);
$pink: #A01E72;
$white: #FFF;
$gray1: #EFEFEF;
$gray2: #D4D4D4;
$gray3: #9E9E9E;
$gray4: #878787;
$gray5: #6A6A6A;
$gray6: #545454;

// FONTS
$opensans-reg: 'OpenSans Regular';
$opensans-semibold: 'OpenSans SemiBold';
$din: 'DINCondensed Bold';


$base-font-size: 16px;
