// COLOR
$error-color : #FF5151;
$pink: #A01E72;
$white: #FFF;

// FONTS
$opensans-reg : 'OpenSans Regular';
$opensans-semibold : 'OpenSans SemiBold';
$din : 'DINCondensed Bold';


$base-font-size: 16px;