.cta {
  height: 30px;
  border: 1px solid $pink;
  font-family: $opensans-semibold;
  font-size: rem(12px);
  padding: 0 rem(14px);
  cursor: pointer;
  @include vertical-center-container();

  @include border-box;

  &__icon {
    width: 9px;
    height: auto;
    margin-right: 2px;
    @include vertical-center-block();
  }

  span {
    @include vertical-center-block();
  }

  &--fill {
    background: $pink;
    color: $white;
  }

  &--stroke {
    background: transparent;
    color: $pink;
    @include transition(all 0.2s);

    &:hover {
      background: $pink;
      color: $white;

      svg {
        fill: $white;
      }
    }
  }

  &--fixed {
    width: 100px;
  }
}
