.figures {

  font-family: $opensans-semibold;
  padding: rem(20px) 0;
  @include display(flex);
  @include justify-content(space-around);

  &.figures--three {

    .figures__item {
      width: 33%;
    }

  }

  &__item {
    text-align: center;
  }

  &__numbers {
    color: $gray3;
    margin-bottom: rem(6px);
  }

  &__description {
    color: $gray2;
    font-size: rem(10px);
    text-transform: uppercase;
  }

}
