.profile-overview {

  width: 100%;
  padding-top: rem(25px);

  &__avatar {
    display: block;
    margin: auto;
  }

  &__name {
    font-family: $din;
    font-size: rem(22px);
    color: $gray5;
    margin: rem(8px) rem(0px);
  }

  &__handle {
    font-size: rem(10px);
    color: $gray2;
    border-bottom: 1px solid $border-bottom-color;
    padding-bottom: rem(25px);
  }

}
